.benefits {
  display: flex;
}

.benefits__item {
  flex: 1;
  padding: 0 3%;
  position: relative;
}
.benefits__item:before {
  content: "";
  background: url(../section.one/pics/threecircles.png);
  width: 67px;
  height: 21px;
  position: absolute;
  top: 40px;
  right: 0;
  transform: translateX(50%);
}
.benefits__item:first-child {
  padding-left: 0;
}
.benefits__item:last-child {
  padding-right: 0;
}
.benefits__item:last-child:before {
  display: none;
}

.benefits-section {
  position: relative;
}
.benefits-section:before {
  content: url(../section.one/pics/triangle.png);
  position: absolute;
  bottom: 160px;
  left: 25%;
}