.btn {
  font-family: "Play", serif;
  font-size: 18px;
  padding: 19px 45px;
  text-transform: uppercase;
  border-radius: 100px;
  line-height: 1;
  text-decoration: none;
  border: none;
}
.btn--theme--red {
  background: #E01F3D;
  color: #fff;
}
.btn--theme--red:hover {
  color: #E01F3D;
  background: #fff;
}
.btn--theme--transparent {
  font-size: 18px;
  background: transparent;
  color: #fff;
  text-transform: none;
}
.btn--theme--transparent:hover {
  color: #E01F3D;
}

.form__btns {
  margin-top: 40px;
}